<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{|/style.css|}">
    <link th:href="@{|https://cdn.jsdelivr.net/npm/daisyui@4.10.2/dist/full.min.css|}" rel="stylesheet"
        type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/bccde956fc.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.0/sockjs.min.js"></script>
    <title>Document</title>
</head>

<body>
    <div class="bg-gray-100 flex items-center justify-center h-screen">
        <div class="bg-white p-6 rounded-lg shadow-lg w-[850px] h-[800px]">
            <h1 class="text-2xl font-bold mb-4">Chat Room</h1>
            <div id="messages" class="w-[100%] h-[85%] overflow-y-auto mb-4">
                <div th:each="list :${chatRoom.chatMessageList}">
                    <div th:if="${list.sender != null}">
                        <div th:if="${list.sender.name eq me.name}">
                            <div class="chat chat-end flex flex-col items-end">
                                <div class="flex items-center">
                                    <div class="chat-header ml-2">
                                        [[${list.sender.name}]]
                                        <time class="text-xs opacity-50"
                                            th:text="${#temporals.format(list.sendTime, 'yyyy-MM-dd').equals(#temporals.format(#temporals.createNow(), 'yyyy-MM-dd')) ? #temporals.format(list.sendTime, 'a HH:mm') : #temporals.format(list.sendTime, 'yyyy-MM-dd')}"></time>
                                    </div>
                                </div>
                                <div class="chat-bubble mr-2 ml-5" th:if="${list.message != null}" th:text="${list.message}">
                                </div>
                            </div>
                        </div>
                        <div th:if="${list.sender.name ne me.name}">
                            <div class="chat chat-start flex flex-col items-start">
                                <div class="flex">
                                    <div class="chat-header ml-2">
                                        [[${list.sender.name}]]
                                        <time class="text-xs opacity-50"
                                            th:text="${#temporals.format(list.sendTime, 'yyyy-MM-dd').equals(#temporals.format(#temporals.createNow(), 'yyyy-MM-dd')) ? #temporals.format(list.sendTime, 'a HH:mm') : #temporals.format(list.sendTime, 'yyyy-MM-dd')}"></time>
                                    </div>
                                </div>
                                <div class="chat-bubble mr-2 ml-5" th:if="${list.message != null}" th:text="${list.message}">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="greetings"></div>
            </div>
            <input id="message" type="text" class="border border-gray-300 rounded-lg p-2 w-[80%] mb-4"
                placeholder="Type your message..." />
            <button id="sendButton" class="bg-blue-500 text-white font-semibold px-4 py-2 rounded-lg"
                onclick="sendChat()">Send</button>
            <button class="bg-blue-500 text-white font-semibold px-4 py-2 rounded-lg">
                <a id="out" th:href="@{/user/profile}">나가기</a>
            </button>
        </div>
        <div>

        </div>
        <!--    <div>-->
        <!--        <div id="images">이미지들</div>-->
        <!--    </div>-->
        <script th:inline="javascript">
            let targetUsers = null;
            const aa = [[${ chatRoom.id }]];
            const sender = [[${ me.number }]];
            function connect() {
                var socket = new SockJS("http://localhost:8088/ws-stomp");
                stompClient = Stomp.over(socket);
                stompClient.connect({}, function (frame) {
                    console.log('웹소켓 연결 성공:', frame);

                    const number = [[${ you.number }]];

                    //구독
                    stompClient.subscribe('/sub/talk/' + aa, function (chatMessageDto) {
                        showChat(JSON.parse(chatMessageDto.body));
                    });

                    stompClient.subscribe('/sub/alarm/' + number, function (alarmDto) {
                    });
                    stompClient.subscribe('/sub/user/join/' + aa, function (users) {
                        console.log("세선정보");
                        console.log(users);
                        targetUsers = JSON.parse(users.body);
                    });
                    stompClient.send("/pub/user/join/" + aa, {}, JSON.stringify({
                        'name': sender,
                        'sort': 'in'
                    }));
                });
            }


            //html 에서 입력값, roomId 를 받아서 Controller 로 전달
            function sendChat() {
                const name = [[${ me.name }]];
                const number = [[${ you.number }]];
                const members = [[${ members }]];

                var currentDate = new Date();
                currentDate.setTime(currentDate.getTime() + (9 * 60 * 60 * 1000));
                var formattedDate = new Date(currentDate).toISOString(); // ISO 형식으로 변환

                if ($("#message").val() != "") {
                    stompClient.send("/pub/talk/" + aa, {},
                        JSON.stringify({
                            'sender': sender,
                            'name': name,
                            'message': $("#message").val(),
                            'sendTime': formattedDate,
                            'sort': "one"
                        }));

                    let sendMembers = members;
                    sendMembers = members.filter(user => !targetUsers.includes(user));
                    console.log(sendMembers);
                    if (sendMembers !== null) {
                        sendMembers.forEach((user) => {
                            if (user !== name) {
                                stompClient.send("/pub/alarm/" + user, {},
                                    JSON.stringify({
                                        'sender': sender,
                                        'acceptUser': number,
                                        'message': $("#message").val(),
                                        'sendTime': formattedDate,
                                        'chatroomId': aa,
                                        'alarmCnt': '0',
                                        'sort': "one"
                                    }));
                            }
                        })
                    }
                }
                $("#message").val('');
            }

            function showChat(chatMessageDto) {
                const sender = [[${ me.name }]];
                const formattedTime = formatTime(chatMessageDto.sendTime);
                if (chatMessageDto.name === sender) {
                    $("#greetings").append(
                        `<div class="chat chat-end flex flex-col items-end">
                <div class="chat-header">${chatMessageDto.name} <time class="text-xs opacity-50">${formattedTime}</time></div>
                <div class="chat-bubble mr-2">${chatMessageDto.message}</div>
             </div>`
                    );
                } else {
                    $("#greetings").append(
                        `<div class="chat chat-start flex flex-col items-start">
                <div class="chat-header">${chatMessageDto.name} <time class="text-xs opacity-50">${formattedTime}</time></div>
                <div class="chat-bubble ml-2">${chatMessageDto.message}</div>
             </div>`
                    );
                }
                var messageContainer = document.getElementById("messages");
                messageContainer.scrollTop = messageContainer.scrollHeight;
            }

            $(function () {
                $("#message").keyup(function (event) {
                    if (event.keyCode === 13) {
                        sendChat();
                    }
                });
            });

            // 페이지 로드 후 실행되는 부분
            document.addEventListener('DOMContentLoaded', function () {
                connect();

                // 채팅창의 div 요소를 가져옵니다.
                var messageContainer = document.getElementById("messages");

                // 스크롤을 아래로 이동시킵니다.
                messageContainer.scrollTop = messageContainer.scrollHeight;
            });

            function formatTime(sendTime) {
                const date = new Date(sendTime); // sendTime은 Date 형식으로 파싱 가능해야 합니다.

                const hours = date.getHours();
                const minutes = date.getMinutes();

                // 오전/오후 구분
                const ampm = hours >= 12 ? '오후' : '오전';

                // 12시간 형식으로 변환
                const formattedHours = hours % 12 || 12;

                // 분이 한 자리일 경우 두 자리로 포맷
                const formattedMinutes = minutes < 10 ? '0' + minutes : minutes;

                return `${ampm} ${formattedHours}:${formattedMinutes}`;
            }

            const out = document.getElementById("out");
            out.addEventListener('click', function (event) {
                event.preventDefault()
                stompClient.send("/pub/user/join/" + aa, {}, JSON.stringify({
                    'name': sender,
                    'sort': "out"
                }));
                window.location.href = out.href;
            });

        </script>
    </div>
</body>

</html>