<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <table class="table">
        <thead class="table-dark">
        <tr>
            <th class="px-4 py-2 text-left">번호</th>
            <th class="px-4 py-2 text-left">제목</th>
            <th class="px-4 py-2 text-left">글쓴이</th>
            <th class="px-4 py-2 text-left">조회수</th>
            <th class="px-4 py-2 text-left">작성일시</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="notice, loop : ${paging}">
            <td th:text="${loop.count}"></td>
            <td>
                <a th:href="@{|/notice/detail/${notice.id}|}" th:text="${notice.content}"></a>
            </td>
            <td th:text="${#temporals.format(notice.createDate, 'yyyy-MM-dd HH:mm')}"></td>
        </tr>
        </tbody>
    </table>
    <!-- 페이징처리 시작 -->
    <nav class="pagination flex justify-center items-center" aria-label="Pagination" style="position: fixed;
             bottom: 100px;
             left: 0;
             right: 300px;
             background-color: white;
             box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1);
             z-index: 1000;">
        <!-- 이전 버튼 -->
        <a class="page-link" th:if="${paging.number -1 != -1}" th:href="@{|?page=${paging.number-1}|}">
            <svg class="w-8 h-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path
                        d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z" />
            </svg>
        </a>
        <!-- 페이지 번호 -->
        <ul class="flex -space-x-px">
            <li th:each="page : ${#numbers.sequence(0, paging.totalPages - 1)}"
                th:if="${page >= paging.number - 5 and page <= paging.number + 5}"
                th:classappend="${page == paging.number ? 'bg-indigo-600 text-white' : 'text-gray-90 ring-1 ring-inset ring-gray-30'}"
                class="relative inline-flex items-center px-4 py-2 text-sm font-semibold hover:bg-gray-500 focus:outline-offset-0">
                <a class="page-link" href="javascript:void(0)" th:data-page="${page}">
                    <span th:text="${page + 1}"></span>
                </a>
            </li>
        </ul>
        <!-- 다음 버튼 -->
        <a class="page-link" th:if="${paging.number < paging.totalPages - 1}"
           th:href="@{|?page=${paging.number + 1}|}">
            <svg class="w-8 h-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                <path
                        d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" />
            </svg>
        </a>
    </nav>
</div>
    <!-- 페이징처리 끝 -->
    <a th:href="@{/question/create}" class="btn btn-primary">질문 등록하기</a>
</div>

</html>