<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container mx-auto px-4 py-6">
    <h2 class="border-b-2 border-white py-2 text-white" th:text="${notice.title}"></h2>
    <div class="bg-gray-700 my-3 rounded-lg">
        <div class="p-6">
            <div class="whitespace-pre-line card-text" th:utext="${htmlContent}"></div>
            <div class="flex justify-end">
                <div class="bg-gray-600 py-2 px-4 text-white">
                    <div th:text="${#temporals.format(notice.notificationDate, 'yyyy-MM-dd HH:mm')}"></div>
                </div>
            </div>
        </div>
    </div>
</div>

</html>