<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container-fluid my-3 flex justify-center text-black">
    <div class="h-screen flex items-center justify-center bg-black">
        <div class="w-full max-w-md p-8 bg-white rounded-lg shadow-lg">
            <form th:object="${homeTrainingForm}" method="post" enctype="multipart/form-data">
                <!-- CSRF 토큰 입력 -->
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                
                <!-- 프로필 이미지 업로드 입력 -->
                <div class="mb-3 w-full">
                    <input type="text" class="file-input file-input-bordered w-full max-w-xl text-black" th:field="*{videoUrl}" placeholder="비디오 URL"/>
                </div>

                <div class="mb-3 w-full">
                    <label for="category" class="form-label">카테고리</label>
                    <select id="category" th:field="*{categoryID}" class="input input-bordered w-full max-w-xs">
                        <option th:each="category : ${categoryList}" th:value="${category.id}"
                                th:text="${category.name}"></option>
                    </select>
                </div>
                
                <!-- 글 작성 입력 -->
                <div class="mb-3 w-full">
                    <input type="text" class="input w-full input-bordered text-black" th:field="*{content}" placeholder="글 작성">
                </div>
                
                <!-- 수정 완료 버튼 -->
                <button type="submit" class="btn btn-error">업로드</button>
            </form>
        </div>
    </div>
</div>
</html>