<html lang="en" layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>트레이너 프로필</title>
    <style>
        :root {
          --custom-scale: 0.70;
        }
        .custom-scale {
          transform: scale(var(--custom-scale));
        }
    </style>
</head>
<nav th:replace="~{navbar :: navbarFragment}"></nav>
<div layout:fragment="content" class="w-full mx-auto h-64">
    <div class="custom-scale">
        <div class="flex justify-between -translate-y-12">
            <!-- trainerList 요소들 -->
            <div class="card w-80 bg-base-100 shadow-xl m-2 pt-2.5 text-black" th:each="trainer : ${trainerList}">
                <figure><img th:src="@{'/uploads/' + ${trainer.imagePath}}" alt="profile" /></figure>
                <div class="card-body">
                    <p th:text="'트레이너 : '+ ${trainer.trainerName}"></p>
                    <p th:text="'경력 : '+ ${trainer.Introduce}"></p>
                    <div class="card-actions justify-end">
                        <a href="/totalPass/list" class="btn btn-primary">이용권 보러가기</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 추가 스크립트가 있을 경우 여기에 추가 -->
<div layout:fragment="script"></div>
</html>
