<html layout:decorate="~{layout}">
<div layout:fragment="content" class="w-full flex items-center justify-center my-3">
    <div class="bg-gray-800 p-6 rounded-lg max-w-lg mx-auto">
        <div class="text-center text-2xl mb-4 text-white">요일권 만들기</div>
        <a href="/pt/add" class="btn">PT회원권 만들기</a>
        <form th:action="@{|/day/add|}" th:object="${dayPassDto}" class="space-y-4 text-white" method="post">
            <input type="text" th:field="*{dayPassName}" class="input input-bordered w-full p-2 border border-gray-300 rounded" placeholder="회원권 이름..">
            <p th:if="${#fields.hasErrors('dayPassName')}" th:errors="*{dayPassName}" class="text-red-500 text-sm"></p>
            <textarea placeholder="회원권 설명.." th:field="*{dayPassTitle}" class="textarea textarea-bordered textarea-lg w-full max-w-xs" ></textarea>
            <p th:if="${#fields.hasErrors('dayPassTitle')}" th:errors="*{dayPassTitle}" class="text-red-500 text-sm"></p>
            <input type="text" th:field="*{dayPassDays}" class="input input-bordered w-full p-2 border border-gray-300 rounded" placeholder="회원권 일수..">
            <input type="text" th:field="*{dayPassPrice}" class="input input-bordered w-full p-2 border border-gray-300 rounded" placeholder="회원권 가격..">
            <input type="submit" class="btn w-full p-2 bg-red-500 text-black rounded hover:bg-red-500" value="만들기">
        </form>
    </div>
</div>
</html>
