<html lang="en" layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>회원권 리스트</title>
    <style>
        :root {
          --custom-scale: 0.70;
        }
        .custom-scale {
          transform: scale(var(--custom-scale));
        }
    </style>
</head>
<nav th:replace="~{navbar :: navbarFragment}"></nav>
<div layout:fragment="content" class="w-full mx-auto h-64">
    <div class="custom-scale">
        <div class="flex justify-between -translate-y-12">
            <!-- ptPassList 요소들 -->
            <div class="card w-80 bg-base-100 shadow-xl m-2 pt-2.5 text-black" th:each="pt:${ptPassList}">
                <figure><img src="https://i.imgur.com/kW3S5se.png" alt="PT" /></figure>
                <div class="card-body">
                    <h2 class="card-title" th:text="${pt.passName}"></h2>
                    <p th:text="${pt.passTitle}"></p>
                    <p th:text="'횟수 : '+${pt.passCount}"></p>
                    <p th:text="'가격 : '+${pt.passPrice}"></p>
                    <div class="card-actions justify-end">
                        <a th:href="@{|/checkout/${pt.passName}|}" class="btn btn-primary">Buy Now</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="flex justify-between -translate-y-12">
            <!-- dayPassList 요소들 -->
            <div class="card w-80 bg-base-100 shadow-xl m-2 pt-2.5 text-black" th:each="day:${dayPassList}">
                <figure><img src="https://i.imgur.com/VFPjR6P.png" alt="Day" /></figure>
                <div class="card-body">
                    <h2 class="card-title" th:text="${day.passName}"></h2>
                    <p th:text="${day.passTitle}"></p>
                    <p th:text="${day.passDays}+'일'"></p>
                    <p th:text="'가격 : '+${day.passPrice}"></p>
                    <div class="card-actions justify-end">
                        <a th:href="@{|/checkout/${day.passName}|}" class="btn btn-primary">Buy Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 추가 스크립트가 있을 경우 여기에 추가 -->
<div layout:fragment="script"></div>
</html>
