<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.11.1/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>MMP 회원권 만들기</title>
</head>
<body class="h-screen flex items-center justify-center bg-black">
<div class="w-full max-w-md p-8 bg-white rounded-lg shadow-lg">
    <div class="text-center text-2xl mb-4">PT회원권 만들기</div>
    <form th:action="@{|/pt/add|}" th:object="${ptPassDto}" class="space-y-4" method="post">
        <input type="text" th:field="*{passName}" class="input input-bordered w-full p-2 border border-gray-300 rounded" placeholder="회원권 이름..">
        <p th:if="${#fields.hasErrors('passName')}" th:errors="*{passName}" class="text-red-500 text-sm"></p>
        <textarea placeholder="회원권 설명.." th:field="*{passTitle}" class="textarea textarea-bordered textarea-lg w-full max-w-xs" ></textarea>
        <p th:if="${#fields.hasErrors('passTitle')}" th:errors="*{passTitle}" class="text-red-500 text-sm"></p>
        <input type="text" th:field="*{passCount}" class="input input-bordered w-full p-2 border border-gray-300 rounded" placeholder="회원권 횟수..">
        <input type="text" th:field="*{passPrice}" class="input input-bordered w-full p-2 border border-gray-300 rounded" placeholder="회원권 가격..">
        <input type="submit" class="btn w-full p-2 bg-red-500 text-black rounded hover:bg-red-500" value="만들기">
    </form>
</div>
</body>
</html>
