<html layout:decorate="~{layout}">
<div layout:fragment="content" class="w-full my-3">
    <div class="flex justify-end gap-5">
        <a href="/totalPass/admin/stand?sort=pt" class="btn">PT</a>
        <a href="/totalPass/admin/stand?sort=day" class="btn">Day</a>
    </div>
    <div class="overflow-x-auto">
        <table class="table mt-32">
            <thead class="table-dark text-white">
                <tr class="text-center">
                    <th>번호</th>
                    <th>양도할 이용권</th>
                    <th>신청일</th>
                    <th>양도한사람</th>
                    <th>양도받는사람</th>
                    <th>Y/N</th>
                </tr>
            </thead>
            <tbody>
                <tr class="text-center" th:each="pass, loop : ${paging}">
                    <td th:text="${paging.getTotalElements - (paging.number * paging.size) - loop.index}"></td>
                    <td class="text-start" th:if="${pass.userPtPass != null}" th:text="${pass.userPtPass.passName}">
                    </td>
                    <td class="text-start" th:if="${pass.userDayPass != null}" th:text="${pass.userDayPass.passName}">
                    </td>
                    <td th:text="${#temporals.format(pass.createDate, 'yyyy-MM-dd')}"></td>
                    <td th:text="${pass.sendUser.name}"></td>
                    <td th:text="${pass.acceptUser.name}"></td>
                    <td>
                        <a th:href="@{|/totalPass/admin/agree/${pass.id}|}" class="btn">수락</a>
                        <a th:href="@{|/totalPass/admin/reject/${pass.id}|}" class="btn">거절</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- 페이징처리 시작 -->
    <nav class="pagination mb-32 fixed bottom-10 left-1/2 transform -translate-x-1/2 bg-black shadow z-10">
        <!-- 페이지 네비게이션 컨테이너 -->
        <div class="flex items-center space-x-2">
            <!-- 이전 버튼 -->
            <a class="page-link" th:if="${paging.number > 0}" th:href="@{|?page=${paging.number - 1}|}">
                <svg class="w-8 h-8 fill-current text-gray-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                    <path
                        d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z" />
                </svg>
            </a>
            <!-- 페이지 번호 -->
            <ul class="flex -space-x-px">
                <li th:each="page : ${#numbers.sequence(0, paging.totalPages - 1)}"
                    th:if="${page >= 0 and page <= paging.totalPages - 1 and page >= paging.number - 5 and page <= paging.number + 5}"
                    th:classappend="${page == paging.number ? 'bg-indigo-600 text-white' : 'text-gray-500'}"
                    class="relative">
                    <a class="page-link w-12 h-12 flex items-center justify-center px-4 py-2 inline-block font-semibold hover:bg-gray-200 focus:outline-none"
                        th:href="@{|?page=${page}|}" th:text="${page + 1}"></a>
                </li>
            </ul>
            <!-- 다음 버튼 -->
            <a class="page -link" th:if="${paging.number < paging.totalPages - 1}"
                th:href="@{|?page=${paging.number + 1}|}">
                <svg class="w-8 h-8 fill-current text-gray-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                    <path
                        d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" />
                </svg>
            </a>
        </div>
    </nav>
    <!-- 페이징처리 끝 -->
</div>

</html>