<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Challenge</title>
</head>
<body>
<h1>Create New Challenge</h1>
<form th:action="@{/challenge/create}" th:object="${challengeForm}" method="post">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" th:field="*{name}" />
        <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
    </div>
    <div>
        <label for="description">Description:</label>
        <input type="text" id="description" th:field="*{description}" />
        <div th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
    </div>
    <div>
        <label for="openDate">Open Date:</label>
        <input type="datetime-local" id="openDate" th:field="*{openDate}" />
        <div th:if="${#fields.hasErrors('openDate')}" th:errors="*{openDate}"></div>
    </div>
    <div>
        <label for="closeDate">Close Date:</label>
        <input type="datetime-local" id="closeDate" th:field="*{closeDate}" />
        <div th:if="${#fields.hasErrors('closeDate')}" th:errors="*{closeDate}"></div>
    </div>
    <div>
        <label for="requiredPoint">Required Point:</label>
        <input type="number" id="requiredPoint" th:field="*{requiredPoint}" />
        <div th:if="${#fields.hasErrors('requiredPoint')}" th:errors="*{requiredPoint}"></div>
    </div>
    <div>
        <label for="type">Type:</label>
        <input type="text" id="type" th:field="*{type}" />
        <div th:if="${#fields.hasErrors('type')}" th:errors="*{type}"></div>
    </div>
    <div>
        <button type="submit">Create Challenge</button>
    </div>
</form>
</body>
</html>