<html layout:decorate="~{layout}" xmlns:th="http://www.w3.org/1999/xhtml">
<div layout:fragment="content" class="w-full my-3 h-[880px] overflow-y-auto">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        <div th:each="challenge : ${challenges}" class="card bg-gray-800 text-white p-4 rounded-lg shadow-lg">
            <div class="relative">
                <!-- 만료된 챌린지 처리 -->
                <div th:if="${challenge.expiration == true}">
                    <span class="absolute inset-0 flex justify-center items-center text-xl text-red-500 z-10 font-bold">만료된 챌린지입니다</span>
                    <div class="card-body bg-gray-100 text-gray-400 rounded-lg blur">
                        <div>
                            <h2 class="card-title text-red-500 text-center" th:text="${challenge.name}">챌린지 이름</h2>
                            <div class="break-words text-center" style="white-space: pre-wrap;">
                                <p class="text-black"
                                    th:utext="${#strings.replace(challenge.description, '\n', '<br>')}"></p>
                            </div>
                            <p class="text-black"><strong>시작 날짜: </strong><span
                                    th:text="${#temporals.format(challenge.openDate, 'yyyy-MM-dd')}">YYYY-MM-DD</span>
                            </p>
                            <p class="text-black"><strong>종료 날짜: </strong><span
                                    th:text="${#temporals.format(challenge.closeDate, 'yyyy-MM-dd')}">YYYY-MM-DD</span>
                            </p>
                            <p class="text-black"><strong>보상: </strong><span th:text="${challenge.requiredPoint}">보상
                                    포인트</span></p>
                            <p class="text-black"><strong>분류: </strong><span th:text="${challenge.type}">챌린지
                                    분류</span></p>
                            <p class="text-black"><strong>내 달성률: </strong>
                                <span th:each="challengeUser : ${challengeUsers}"
                                    th:if="${challengeUser.challenge.id == challenge.id}"
                                    th:text="${#numbers.formatDecimal(challengeUser.achievementRate, 1, 1)} + '%'">달성률</span>
                            </p>
                            <!-- 달성률에 따른 이미지 표시 -->
                            <div class="achievement-image-container">
                                <!-- 기본 이미지 -->
                                <img th:src="@{'/images/imagesachievement_0.png'}" alt="Achievement Image"
                                    class="achievement-image">
                                <!-- 참여자가 있는 경우 대체 이미지 표시 -->
                                <div th:each="challengeUser : ${challengeUsers}"
                                    th:if="${challengeUser.challenge.id == challenge.id}">
                                    <img th:if="${challengeUser.achievementRate <= 0}"
                                        src="https://i.imgur.com/bhYNnEB.png" alt="Achievement Image"
                                        class="achievement-image">
                                    <img th:if="${challengeUser.achievementRate > 0 and challengeUser.achievementRate < 25}"
                                        src="https://i.imgur.com/Zk82V5o.png" alt="Achievement Image"
                                        class="achievement-image">
                                    <img th:if="${challengeUser.achievementRate == 25}"
                                        src="https://i.imgur.com/Zp18gVC.png" alt="Achievement Image"
                                        class="achievement-image">
                                    <img th:if="${challengeUser.achievementRate > 25 and challengeUser.achievementRate < 50}"
                                        src="https://i.imgur.com/yFuC7Yi.png" alt="Achievement Image"
                                        class="achievement-image">
                                    <img th:if="${challengeUser.achievementRate == 50}"
                                        src="https://i.imgur.com/8avwIYc.png" alt="Achievement Image"
                                        class="achievement-image">
                                    <img th:if="${challengeUser.achievementRate > 50 and challengeUser.achievementRate <= 75}"
                                        src="https://i.imgur.com/a5AaUBT.png" alt="Achievement Image"
                                        class="achievement-image">
                                    <img th:if="${challengeUser.achievementRate == 75}"
                                        src="https://i.imgur.com/mhq8oWP.png" alt="Achievement Image"
                                        class="achievement-image">
                                    <img th:if="${challengeUser.achievementRate > 75 and challengeUser.achievementRate <= 100}"
                                        src="https://i.imgur.com/n7UrcV3.png" alt="Achievement Image"
                                        class="achievement-image">
                                    <img th:if="${challengeUser.achievementRate >= 100}"
                                        src="https://i.imgur.com/22eIdWr.png" alt="Achievement Image"
                                        class="achievement-image">
                                </div>
                            </div>

                        </div>
                    </div>
                    <button type="submit" class="btn btn-danger mt-4 delete" th:data-uri="@{/challenge/delete/{id}(id=${challenge.id})}">삭제</button>
                </div>
                <!-- 만료되지 않은 챌린지 처리 -->
                <div th:if="${challenge.expiration == false}" class="card-body bg-white text-black rounded-lg">
                    <div th:if="${#authentication.principal.authorities.iterator().next().authority == 'ROLE_ADMIN'}"
                        class="flex justify-end">
                        <button type="submit" class="btn btn-danger mt-4 p-0 success"
                            th:data-uri="@{|/challenge/expiration/${challenge.id}|}">
                            <img src="https://i.imgur.com/PP2yCiu.png" alt="만료"
                                class="w-6 h-6 inline-block align-middle">
                        </button>
                        <button type="submit" class="btn btn-danger mt-4 p-0 delete"
                            th:data-uri="@{/challenge/delete/{id}(id=${challenge.id})}">
                            <img src="https://i.imgur.com/xBtWZj7.png" alt="삭제"
                                class="w-6 h-6 inline-block align-middle">
                        </button>
                    </div>
                    <div class="flex justify-center">
                        <h2 class="card-title text-red-500 text-center text-5xl" th:text="${challenge.name}">챌린지 이름</h2>
                    </div>
                    <br>
                    <div class="flex flex-col justify-center">
                        <div class="stats stats-vertical lg:stats-horizontal shadow flex justify-center">
                            <div class="stat">
                                <div class="stat-title flex justify-center">참여 인원</div>
                                <div class="stat-value flex justify-center">
                                    <span th:text="${challenge.challengeUsers.size}"></span>
                                </div>
                                <div class="stat-desc"></div>
                            </div>

                            <div class="stat">
                                <div class="stat-title flex justify-center">기간</div>
                                <div class="stat-value flex justify-center">
                                    <div id="dDay-[[${iterStat.index}]]" th:data-close-date="${challenge.closeDate}">
                                    </div>
                                </div>
                                <div class="stat-desc flex justify-center">
                                    <span
                                        th:text="${#temporals.format(challenge.openDate, 'yyyy-MM-dd')}">YYYY-MM-DD</span>
                                    <th>~</th>
                                    <span
                                        th:text="${#temporals.format(challenge.closeDate, 'yyyy-MM-dd')}">YYYY-MM-DD</span>
                                </div>
                            </div>

                            <div class="stat">
                                <div class="stat-title flex justify-center">보상</div>
                                <div class="stat-value flex justify-center"><span
                                        th:text="${challenge.requiredPoint}">보상
                                        포인트</span></div>
                                <div class="stat-desc flex justify-center"></div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="break-words text-center"
                        style="white-space: pre-wrap; background-color: white; border-radius: 15px; border: 1px solid black;">
                        <p class="text-black" th:utext="${#strings.replace(challenge.description, '\n', '<br>')}"></p>
                    </div>
                    <br>
                    <div class="flex flex-col justify-center items-center">
                        <div class="rounded-lg bg-gray-200 p-4 m-4">
                            <div th:each="challengeUser : ${challengeUsers}"
                                th:if="${challengeUser.challenge.id == challenge.id}">
                                <p class="text-black"><strong>내 달성률: </strong>
                                    <span th:each="challengeUser : ${challengeUsers}"
                                        th:if="${challengeUser.challenge.id == challenge.id}"
                                        th:text="${#numbers.formatDecimal(challengeUser.achievementRate, 1, 1)} + '%'">달성률</span>
                                </p>
                            </div>
                            <!-- 달성률에 따른 이미지 표시 -->
                            <div class="achievement-image-container">
                                <!-- 참여자가 있는 경우 대체 이미지 표시 -->
                                <div th:each="challengeUser : ${challengeUsers}"
                                    th:if="${challengeUser.challenge.id == challenge.id}">
                                    <img th:if="${challengeUser.achievementRate <= 0}"
                                        src="https://i.imgur.com/bhYNnEB.png" alt="Achievement Image"
                                        class="achievement-image">
                                    <img th:if="${challengeUser.achievementRate > 0 and challengeUser.achievementRate < 25}"
                                        src="https://i.imgur.com/Zk82V5o.png" alt="Achievement Image"
                                        class="achievement-image">
                                    <img th:if="${challengeUser.achievementRate == 25}"
                                        src="https://i.imgur.com/Zp18gVC.png" alt="Achievement Image"
                                        class="achievement-image">
                                    <img th:if="${challengeUser.achievementRate > 25 and challengeUser.achievementRate < 50}"
                                        src="https://i.imgur.com/yFuC7Yi.png" alt="Achievement Image"
                                        class="achievement-image">
                                    <img th:if="${challengeUser.achievementRate == 50}"
                                        src="https://i.imgur.com/8avwIYc.png" alt="Achievement Image"
                                        class="achievement-image">
                                    <img th:if="${challengeUser.achievementRate > 50 and challengeUser.achievementRate <= 75}"
                                        src="https://i.imgur.com/a5AaUBT.png" alt="Achievement Image"
                                        class="achievement-image">
                                    <img th:if="${challengeUser.achievementRate == 75}"
                                        src="https://i.imgur.com/mhq8oWP.png" alt="Achievement Image"
                                        class="achievement-image">
                                    <img th:if="${challengeUser.achievementRate > 75 and challengeUser.achievementRate <= 100}"
                                        src="https://i.imgur.com/n7UrcV3.png" alt="Achievement Image"
                                        class="achievement-image">
                                    <img th:if="${challengeUser.achievementRate >= 100}"
                                        src="https://i.imgur.com/22eIdWr.png" alt="Achievement Image"
                                        class="achievement-image">
                                </div>
                            </div>
                        </div>
                        <div class="button-group">
                            <form th:action="@{/challenge/participate}" method="post" class="inline-block">
                                <input type="hidden" name="challengeId" th:value="${challenge.id}">
                                <button type="submit" class="btn btn-error mt-4"
                                    th:if="${participatedChallengeIds != null and not #lists.contains(participatedChallengeIds, challenge.id)}"
                                    th:unless="${challengeAchievementRates[challenge.id] != null and challengeAchievementRates[challenge.id] >= 100}">
                                    참여
                                </button>
                                <button type="button" class="btn mt-4" style="background-color: white; color: black;"
                                    th:if="${participatedChallengeIds != null and #lists.contains(participatedChallengeIds, challenge.id)}"
                                    th:unless="${challengeAchievementRates[challenge.id] != null and challengeAchievementRates[challenge.id] >= 100}">
                                    현재 참여 중인 챌린지입니다
                                </button>
                                <button type="button" class="btn btn-primary mt-4"
                                    th:if="${challengeAchievementRates[challenge.id] != null and challengeAchievementRates[challenge.id] >= 100}">
                                    달성 완료
                                </button>
                            </form>
                            <form th:action="@{/challenge/updateWeight}" method="get" class="inline-block"
                                th:if="${challenge.type == 'weight'}"
                                th:unless="${challengeAchievementRates[challenge.id] != null and challengeAchievementRates[challenge.id] >= 100}">
                                <input type="hidden" name="challengeId" th:value="${challenge.id}">
                                <button type="submit" class="btn btn-warning mt-4">몸무게 업데이트</button>
                            </form>

                            <form th:action="@{/challenge/expiration}" method="post" class="inline-block"
                                th:if="${challenge.expiration == true}">
                                <input type="hidden" name="challengeId" th:value="${challenge.id}">
                                <button type="submit" class="btn btn-warning mt-4">만료완료</button>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const success_elements = document.getElementsByClassName("success");
            Array.from(success_elements).forEach(function (element) {
                element.addEventListener('click', function (event) {
                    event.preventDefault();
                    if (confirm("만료하시겠습니까?")) {
                        location.href = this.dataset.uri;
                    }
                });
            });

            const delete_elements = document.getElementsByClassName("delete");
            Array.from(delete_elements).forEach(function (element) {
                element.addEventListener('click', function (event) {
                    event.preventDefault();
                    if (confirm("정말로 삭제하시겠습니까?")) {
                        location.href = this.dataset.uri;
                    }
                });
            });
        });

        document.addEventListener('DOMContentLoaded', function () {
            function calculateDday(closeDate) {
                const today = new Date();
                const currentDate = new Date(today.getFullYear(), today.getMonth(), today.getDate());
                const challengeCloseDate = new Date(closeDate);
                const targetDate = new Date(challengeCloseDate.getFullYear(), challengeCloseDate.getMonth(), challengeCloseDate.getDate());

                const timeDiff = targetDate - currentDate;
                const dayDiff = Math.round(timeDiff / (1000 * 3600 * 24));

                return dayDiff > 0 ? `D-${dayDiff}` : `D+${Math.abs(dayDiff)}`;
            }

            document.querySelectorAll('[id^="dDay-"]').forEach(function (element) {
                const challengeCloseDate = element.getAttribute('data-close-date');
                element.innerText = calculateDday(challengeCloseDate);
            });
        });
    </script>

</div>

</html>