<html layout:decorate="~{layout}">
<div layout:fragment="content" class="w-full text-white">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <body>
    <div class="container mx-auto p-4 mt-10">
        <div class="flex justify-between items-center mb-4">
            <h1 class="text-2xl font-bold">그룹 리스트</h1>
            <button class="btn btn-primary" onclick="openModal()">그룹 생성</button>
        </div>

        <div class="overflow-x-auto">
            <table class="table">
                <!-- Table Head -->
                <thead>
                <tr>
                    <th>
                        <label>
                            <input type="checkbox" class="checkbox"/>
                        </label>
                    </th>
                    <th class="text-white">그룹 이름</th>
                    <th class="text-white">그룹 소개</th>
                    <th class="text-white">그룹 태그</th>
                    <th class="text-white">회원수</th>
                    <th class="text-white">그룹 가입</th>
                </tr>
                </thead>
                <!-- Table Body -->
                <tbody>
                <tr th:each="challengeGroup : ${groups}">
                    <th>
                        <label>
                            <input type="checkbox" class="checkbox"/>
                        </label>
                    </th>
                    <td>
                        <div class="flex items-center gap-3">
                            <a class="btn btn-ghost btn-xs"
                               th:href="@{/groupChallenge/detail/{id}(id=${challengeGroup.id})}"
                               th:text="${challengeGroup.name}">Details</a>
                        </div>
                    </td>
                    <td>
                        <div>
                            <span th:text="${challengeGroup.goal}">Group Goal</span>
                        </div>
                    </td>
                    <td>
                        <span class="badge badge-ghost badge-sm" th:each="groupTag : ${challengeGroup.groupTagList}"
                              th:text="${groupTag.tag.name}">태그 목록</span>
                    </td>
                    <td th:text="${challengeGroup.members.size()}">0</td>
                    <td>
                        <a class="btn btn-ghost btn-xs" href="#"
                           th:onclick="'joinGroup(' + ${challengeGroup.id} + ', ' + ${user.id} + ')'">그룹 가입</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <!-- Modal -->
    <div id="createGroupModal"
         class="modal modal-open fixed inset-0 bg-gray-600 bg-opacity-50 flex items-center justify-center hidden">
        <div class="modal-box">
            <h2 class="text-lg font-bold text-black">그룹 생성하기</h2>
            <form id="createGroupForm" th:action="@{/groupChallenge/create}" method="post" th:csrf="true">
                <div class="mb-4">
                    <label for="name" class="block text-sm font-medium text-black">그룹 이름</label>
                    <input type="text" id="name" name="name" class="input text-black input-bordered w-full">
                </div>
                <div class="flex justify-end">
                    <button type="button" class="btn btn-secondary mr-2" onclick="closeModal()">Cancel</button>
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </form>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // CSRF 토큰과 헤더를 JavaScript 변수에 저장
            const csrfToken = document.querySelector('meta[name="_csrf"]').getAttribute('content');
            const csrfHeader = document.querySelector('meta[name="_csrf_header"]').getAttribute('content');

            function openModal() {
                console.log('Opening modal'); // 디버깅용 로그
                var modal = document.getElementById('createGroupModal');
                if (modal) {
                    modal.classList.remove('hidden');
                    modal.classList.add('flex'); // flex 클래스를 추가하여 중앙에 위치하도록 설정
                } else {
                    console.log('Modal element not found');
                }
            }

            function closeModal() {
                console.log('Closing modal'); // 디버깅용 로그
                var modal = document.getElementById('createGroupModal');
                if (modal) {
                    modal.classList.add('hidden');
                    modal.classList.remove('flex');
                } else {
                    console.log('Modal element not found');
                }
            }

            document.getElementById('createGroupForm').addEventListener('submit', function(event) {
                event.preventDefault();

                const formData = new FormData(this);
                const headers = new Headers();
                headers.append(csrfHeader, csrfToken); // CSRF 토큰 헤더 설정

                fetch(this.action, {
                    method: 'POST', // 명시적으로 POST 메서드를 설정
                    body: formData,
                    headers: headers
                }).then(response => {
                    if (response.ok) {
                        closeModal();
                        location.reload(); // 페이지를 새로고침하여 변경 사항 반영
                    } else {
                        response.text().then(text => {
                            console.error('Failed to create group:', text);
                            alert('Failed to create group.');
                        });
                    }
                }).catch(error => {
                    console.error('Error:', error);
                    alert('Failed to create group.');
                });
            });

            window.openModal = openModal;
            window.closeModal = closeModal;

            window.joinGroup = function (groupId, userId) {
                const url = `/groupChallenge/${groupId}/join`;
                const formData = new FormData();
                formData.append("userId", userId);

                const headers = new Headers();
                headers.append('Content-Type', 'application/x-www-form-urlencoded'); // Ensuring valid header
                headers.append(csrfHeader, csrfToken); // CSRF 토큰 헤더 설정

                fetch(url, {
                    method: 'POST',
                    headers: headers,
                    body: new URLSearchParams(formData)
                }).then(response => {
                    if (response.ok) {
                        alert("성공적으로 그룹에 가입되었습니다");
                    } else {
                        alert("그룹 가입에 실패하였습니다. 관리자에게 문의 바랍니다.");
                    }
                }).catch(error => {
                    console.error("Error:", error);
                    alert("An error occurred while trying to join the group.");
                });
            }
        });
    </script>
    </body>
</div>
</html>
