

<html layout:decorate="~{layout}">
<div layout:fragment="content" class="w-full h-[880px] my-3 flex justify-center text-black items-center">
    <div class="w-[30%] bg-gray-800 p-6 rounded-lg max-w-lg mx-auto text-white">
        <h1 class="text-2xl font-bold mb-4" th:text="${group.name} + ' 그룹 편집'">그룹 편집</h1>
        <form th:action="@{/groupChallenge/edit/{id}(id=${group.id})}" method="post" class="space-y-4">
            <div class="form-control">
                <label for="name" class="label">
                    <span class="label-text text-white">그룹 이름:</span>
                </label>
                <input type="text" id="name" name="name" th:value="${group.name}" required
                    class="input input-bordered w-full text-black">
            </div>
            <div class="form-control">
                <label for="goal" class="label">
                    <span class="label-text text-white">그룹 목표:</span>
                </label>
                <textarea id="goal" name="goal" required th:text="${group.goal}"
                    class="textarea textarea-bordered w-full text-black"></textarea>
            </div>
            <div class="flex justify-end">
                <button type="submit" class="btn btn-primary m-1">저장</button>
                <a class="btn btn-error m-1" th:href="@{/groupChallenge/detail/{id}(id=${group.id})}">취소</a>
            </div>
        </form>

    </div>

</div>

</html>