<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<div class="h-screen flex items-center justify-center bg-black">
    <div class="bg-gray-800 p-6 rounded-lg max-w-lg mx-auto">
        <div class="text-center text-2xl mb-4 text-white">관리자 회원가입</div>
        <!--    <p th:if="${#fields.hasErrors('signupFailed')}" th:errors="*{signupFailed}" class="text-red-500 text-sm"></p>-->
        <form th:action="@{|/user/adminSignup|}" th:object="${adminDto}" class="space-y-4 text-black" method="post">
            <input type="text" th:field="*{name}"
                   class="input input-bordered w-full p-2 border border-gray-300 rounded text-white" placeholder="Name">
            <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-red-500 text-sm"></p>
            <input type="text" th:field="*{number}"
                   class="input input-bordered w-full p-2 border border-gray-300 rounded text-white"
                   placeholder="Phone..">
            <p th:if="${#fields.hasErrors('number')}" th:errors="*{number}" class="text-red-500 text-sm"></p>
            <label class="text-white">남자</label>
            <input type="radio" th:field="*{gender}" value="man" class="radio radio-primary mr-2"/>
            <label class="text-white">여자</label>
            <input type="radio" th:field="*{gender}" value="woman" class="radio radio-primary mr-2"/>
            <input type="text" th:field="*{birthDate}"
                   class="input input-bordered w-full p-2 border border-gray-300 rounded text-white"
                   placeholder="BirthDay">
            <p th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}" class="text-red-500 text-sm"></p>
            <input type="text" th:field="*{email}"
                   class="input input-bordered w-full p-2 border border-gray-300 rounded text-white"
                   placeholder="Email">
            <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-red-500 text-sm"></p>
            <input type="submit" class="btn w-full p-2 bg-red-500 text-black rounded hover:bg-red-500" value="만들기">
        </form>
    </div>
</div>


</html>
