<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>비밀번호 변경</title>
</head>
<body>
<h1>비밀번호 변경</h1>
<form th:action="@{/user/changePassword}" th:object="${passwordChangeDto}" method="post">
    <div>
        <label for="currentPassword">현재 비밀번호:</label>
        <input type="password" id="currentPassword" th:field="*{currentPassword}" />
        <div th:if="${#fields.hasErrors('currentPassword')}" th:errors="*{currentPassword}">잘못된 비밀번호입니다.</div>
    </div>
    <div>
        <label for="newPassword">새 비밀번호:</label>
        <input type="password" id="newPassword" th:field="*{newPassword}" />
        <div th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}">잘못된 비밀번호입니다.</div>
    </div>
    <div>
        <button type="submit">비밀번호 변경</button>
    </div>
    <div th:if="${errorMessage}">
        <p th:text="${errorMessage}">비밀번호 변경 실패: [[${errorMessage}]]</p>
    </div>
</form>
</body>
</html>
