<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 변경</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.2/dist/full.min.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="hero min-h-screen" style="background-color:black;">
        <div class="hero-overlay bg-opacity-60"></div>
        <div class="hero-content text-center text-neutral-content">
            <div class="max-w-md">
                <h1 class="mb-5 text-5xl font-bold">비밀번호 변경</h1>
                <div class="w-full my-3">
                    <form th:action="@{/user/changePassword}" th:object="${passwordChangeDto}" method="post">
                        <div class="mb-4">
                            <label class="input input-bordered flex items-center gap-2 text-gray-500"
                                for="currentPassword">
                                현재
                                <input type="password" class="grow text-gray-500" name="currentPassword"
                                    id="currentPassword" th:field="*{currentPassword}" placeholder="현재 비밀번호를 입력하세요">
                            </label>
                            <div th:if="${#fields.hasErrors('currentPassword')}" th:errors="*{currentPassword}"
                                class="text-red-500">잘못된 비밀번호입니다.</div>
                        </div>
                        <div class="mb-4">
                            <label class="input input-bordered flex items-center gap-2 text-gray-500" for="newPassword">
                                변경
                                <input type="password" class="grow text-gray-500" name="newPassword" id="newPassword"
                                    th:field="*{newPassword}" placeholder="새로운 비밀번호를 입력하세요">
                            </label>
                            <div th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}"
                                class="text-red-500">잘못된 비밀번호입니다.</div>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary">비밀번호 변경</button>
                        </div>
                        <div th:if="${errorMessage}" class="text-red-500 mt-4">
                            <p th:text="${errorMessage}">비밀번호 변경 실패: [[${errorMessage}]]</p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>