<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>비밀번호 재설정</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.2/dist/full.min.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
<div class="hero min-h-screen" style="background-color:black;">
    <div class="hero-overlay bg-opacity-60"></div>
    <div class="hero-content text-center text-neutral-content">
        <div class="max-w-md">
            <h1 class="mb-5 text-5xl font-bold">비밀번호 재설정</h1>
            <div class="w-full my-3">
                <form th:action="@{/user/resetPassword}" th:object="${passwordResetRequestDto}" method="post">
                    <div class="mb-4">
                        <label class="input input-bordered flex items-center gap-2 text-gray-500" for="userId">
                            아이디
                            <input type="text" class="grow text-gray-500" id="userId" th:field="*{userId}" placeholder="아이디를 입력하세요" required/>
                        </label>
                        <div th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}" class="text-red-500">아이디 오류</div>
                    </div>
                    <div class="mb-4">
                        <label class="input input-bordered flex items-center gap-2 text-gray-500" for="email">
                            이메일
                            <input type="email" class="grow text-gray-500" id="email" th:field="*{email}" placeholder="이메일을 입력하세요" required/>
                        </label>
                        <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-red-500">이메일 오류</div>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary">메일 보내기</button>
                    </div>
                    <div th:if="${errorMessage}" class="text-red-500 mt-4">
                        <p th:text="${errorMessage}"></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>

</html>
