<html layout:decorate="~{layout}">
<div layout:fragment="content" class="w-full h-[880px] my-3 flex items-center justify-center">
    <div class="container mx-auto p-4 mt-10 w-[30%] rounded-2xl border-red-600 border-solid border-2">
        <div class="flex justify-center">
            <h1 class="text-2xl font-bold">급여 상세 정보</h1>
        </div>
        <br><br>
        <div class="flex justify-center flex-col">
            <div class="flex flex-row">
                <div class="bg-gray-700 p-4 mb-2">
                    <label class="font-bold">사용자 이름:</label>
                    <span th:text="${user.name}">이름</span>
                </div>
                <div class="bg-gray-700 p-4 mb-2">
                    <label class="font-bold">사용자 번호</label>
                    <span th:text="${user.number}">번호</span>
                </div>
            </div>

            <div class="bg-gray-700 p-4 mb-2">
                <label class="font-bold">총 급여:</label>
                <span th:text="${#numbers.formatInteger(sumSalary, 0, 'COMMA')}">총 급여</span>
            </div>

            <div class="bg-gray-700 p-4 mb-2">
                <label class="font-bold">상여금:</label>
                <span th:text="${#numbers.formatInteger(user.bonus, 0, 'COMMA')}">총 급여</span>
            </div>

            <div class="bg-gray-700 p-4 mb-2">
                <label class="font-bold">인센티브:</label>
                <span th:text="${#numbers.formatInteger(user.performancePay, 0, 'COMMA')}">총 급여</span>
            </div>

            <div class="bg-gray-700 p-4 mb-2">
                <label class="font-bold">추천 횟수:</label>
                <span th:text="${referralCount}">추천 횟수</span>
            </div>
        </div>
        <br>
        <div class="flex justify-center">
            <a href="/" class="btn bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">메인 페이지로
                돌아가기</a>
        </div>
    </div>
</div>

</html>