<html layout:decorate="~{layout}">
<div layout:fragment="content" class="w-full h-[880px] my-3 flex justify-center text-black items-center">
    <form th:object="${couponForm}" method="post" class="w-[20%] bg-gray-800 p-6 rounded-lg max-w-lg mx-auto text-white">
        <h1 class="text-center text-2xl mb-4 text-white">보너스와 인센티브 업데이트</h1>
        <div class="form-group mb-4">
            <label for="name" class="block text-lg mb-2">보너스</label>
            <input type="number" id="bonus" name="bonus" class="input text-black input-bordered w-full p-2 border border-gray-300 rounded" required>
        </div>
        <div class="form-group mb-4">
            <label for="point" class="block text-lg mb-2">인센 티브</label>
            <input type="number" id="incentive" name="incentive" class="input text-black input-bordered w-full p-2 border border-gray-300 rounded" required>
        </div>
        <div>
            <button type="submit" class="btn btn-error w-full">업데이트</button>
        </div>
        <p th:text="${message}"></p>
    </form>
</div>
</html>