<html layout:decorate="~{layout}">
<div layout:fragment="content">
<div>
    <div class="flex flex-col gap-4">
        <h1 sec:authorize="isAuthenticated()" th:text="${#authentication.principal.username}">User Profile</h1>
        <div class="flex flex-col gap-1">
            <p sec:authorize="isAuthenticated()" th:text="${email}">user@example.com</p>
        </div>
        <div class="flex flex-col gap-1">
            <p sec:authorize="isAuthenticated()" th:text="${userNickname}">User Nickname</p>
        </div>
    </div>
</div>
</div>
</html>
