<html layout:decorate="~{layout}">
<div layout:fragment="content" class="w-full my-3">
    <div class="h-screen flex items-center justify-center bg-black">
        <div class="w-full max-w-md p-8 bg-white rounded-lg shadow-lg">
            <div class="text-center text-2xl mb-4 text-black">유저 회원가입</div>
            <!--    <p th:if="${#fields.hasErrors('signupFailed')}" th:errors="*{signupFailed}" class="text-red-500 text-sm"></p>-->
            <form th:action="@{|/user/signup|}" th:object="${userDto}" class="space-y-4" method="post">
                <input type="text" th:field="*{name}" class="input input-bordered w-full p-2 border border-gray-300 rounded text-black" placeholder="Name">
                <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="text-red-500 text-sm"></p>
                <input type="text" th:field="*{number}" class="input input-bordered w-full p-2 border border-gray-300 rounded text-black" placeholder="Phone..">
                <p th:if="${#fields.hasErrors('number')}" th:errors="*{number}" class="text-red-500 text-sm"></p>
                <label class="text-black">남자</label>
                <input type="radio" th:field="*{gender}" value="man" class="radio"  />
                <label class="text-black">여자</label>
                <input type="radio" th:field="*{gender}" value="woman" class="radio" />
                <input type="text" th:field="*{birthDate}" class="input input-bordered w-full p-2 border border-gray-300 rounded text-black" placeholder="BirthDay">
                <p th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}" class="text-red-500 text-sm"></p>
                <input type="text" th:field="*{email}" class="input input-bordered w-full p-2 border border-gray-300 rounded text-black" placeholder="Email">
                <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-red-500 text-sm"></p>
                <label class="text-black">트레이너</label>
                <input type="radio" th:field="*{userRole}" value="trainer" class="radio"  />
                <label class="text-black">회원</label>
                <input type="radio" th:field="*{userRole}" value="user" class="radio" />
                <input type="submit" class="btn w-full p-2 bg-red-500 text-black rounded hover:bg-red-500" value="만들기">
            </form>
        </div>
    </div>
</div>
</html>
