<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>오운완 등록</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.11.1/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="h-screen flex items-center justify-center bg-black">
    <div class="w-full max-w-md p-8 bg-white rounded-lg shadow-lg">
        <form action="/create" method="post" enctype="multipart/form-data">
            <!-- CSRF 토큰 입력 -->
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            
            <!-- 프로필 이미지 출력 -->
            <img th:src="@{'/uploads/'+ ${profileImagePath}}" alt="프로필 사진">
            
            <!-- 프로필 이미지 업로드 입력 -->
            <div class="mb-3 w-full">
                <input type="file" class="file-input file-input-bordered w-full max-w-xl" id="image" name="image"/>
            </div>
            
            <!-- 글 작성 입력 -->
            <div class="mb-3 w-full">
                <input type="text" class="input w-full input-bordered" id="content" name="content" placeholder="글 작성">
            </div>
            
            <!-- 수정 완료 버튼 -->
            <button type="submit" class="btn btn-error">업로드</button>
        </form>
    </div>
</body>
</html>