<html layout:decorate="~{layout}">
<div layout:fragment="content">
    <div class="flex flex-start">
        <a class="btn btn-error text-white justify-start" th:href="@{/wod/create}">추가</a>
    </div>
    <div class="flex w-full">
        <!-- ptPassList 요소들 -->
        <div class="card w-96 bg-base-100 shadow-xl m-4 block" th:each="wod:${wodList}">
            <div>
                <a href="#" class="btn w-full text-black" th:text="${wod.content}"></a>
            </div>
            <figure>
                <img th:src="@{'/uploads/'+ ${wod.imagePath}}" alt="WOD">
            </figure>
        </div>
    </div>
</div>
</html>