<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container-fluid my-3 flex justify-center">
    <div class="w-full">
        
        <div class="flex justify-center items-center">
            <figure>
                <img th:src="@{'/uploads/'+ ${wod.imagePath}}" alt="WOD">
            </figure>
        </div>
        <div class="flex justify-center items-center h-[50px]">
            <a href="#" class="recommend w-[10%] h-[100%] btn btn-sm btn-outline-secondary" onclick="toggleIcon(event)">
                <i class="fa-regular fa-heart"
                    th:classappend="${#lists.contains(wod.likeList, principal) ? 'fa-solid fa-heart' : 'fa-regular fa-heart'}"></i>
                <span class="badge rounded-pill bg-success" th:text="${#lists.size(wod.likeList)}"></span>
                <div class="hidden" th:data-wod-id="${wod.id}"></div>
            </a>
            <div class="h-full bg-white text-black rounded-lg border border-gray-300 w-[80%]" th:utext="${wod.content}">
            </div>
            <div class="h-full bg-white text-black rounded-lg border border-gray-300 w-[10%]">
                <span th:if="${wod.writer != null}" th:text="${wod.writer.name}"></span>
                <div th:text="${#temporals.format(wod.createDate, 'yyyy-MM-dd')}">
                </div>
            </div>
        </div>
        <div sec:authorize="isAuthenticated()"
            th:if="${wod.writer != null and #authentication.getPrincipal().getUsername() == wod.writer.userId}">
            <a href="javascript:void(0);" th:data-uri="@{|/wod/delete/${wod.id}|}" class="delete btn btn-error my-2"
                th:text="삭제"></a>
            <a th:href="@{|/wod/update/${wod.id}|}" class="btn btn-primary my-2">수정</a>
            </form>
        </div>
        <!-- 댓글 작성 -->
        <div>
            <form th:action="@{|/comment/create/${wod.id}|}" th:object="${commentForm}" method="post"
                class="my-3 text-black">
                <div class="flex justify-center items-center">
                    <textarea sec:authorize="isAnonymous()" disabled id="content-anonymous" name="content"
                        class="input w-full h-[200px]" rows="10"></textarea>
                    <textarea sec:authorize="isAuthenticated()" id="content-authenticated" name="content"
                        class="input w-full h-[200px]" rows="10"></textarea>
                </div>
                <input type="submit" value="답변등록" class="btn btn-error my-2">
            </form>
        </div>

        <!-- 댓글 출력 -->
        <div class="card my-3 flex justify-center items-center" th:each="comment : ${commentList}">
            <a th:id="|comment_${comment.id}|"></a>
            <div class="card-body w-full bg-white text-black rounded-lg border border-gray-300">
                <div class="card-text w-[90%]" th:utext="${comment.content}"></div>
                <div class="flex justify-between w-[100%]">
                    <div th:if="${comment.modifyDate != null}" class="badge bg-light text-dark p-2 text-start mx-3">
                        <div class="mb-2">modified at</div>
                        <div th:text="${#temporals.format(comment.modifyDate, 'yyyy-MM-dd HH:mm')}"></div>
                    </div>
                    <div class="h-full bg-white text-black rounded-lg border border-gray-300">
                        <span th:if="${comment.writer != null}" th:text="${comment.writer.name}"></span>
                        <div th:text="${#temporals.format(comment.createDate, 'yyyy-MM-dd HH:mm')}">
                        </div>
                    </div>
                    <div sec:authorize="isAuthenticated()"
                        th:if="${comment.writer != null and #authentication.getPrincipal().getUsername() == comment.writer.userId}">
                        <a href="javascript:void(0);" th:data-uri="@{|/comment/delete/${comment.id}|}"
                            class="delete btn btn-error my-2" th:text="삭제"></a>
                        <a th:href="@{|/comment/update/${comment.id}|}" class="btn btn-primary my-2">수정</a>
                    </div>
                </div>
                <!-- <div class="my-3">
                    <a href="javascript:void(0);" class="recommend btn btn-sm btn-outline-secondary"
                        th:data-uri="@{|/answer/vote/${answer.id}|}">
                        추천
                        <span class="badge rounded-pill bg-success" th:text="${#lists.size(answer.voter)}"></span>
                    </a>
                    <a th:href="@{|/answer/modify/${answer.id}|}" class="btn btn-sm btn-outline-secondary"
                        sec:authorize="isAuthenticated()"
                        th:if="${answer.author != null and #authentication.getPrincipal().getUsername() == answer.author.username}"
                        th:text="수정"></a>
                    <a href="javascript:void(0);" th:data-uri="@{|/answer/delete/${answer.id}|}"
                        class="delete btn btn-sm btn-outline-secondary" sec:authorize="isAuthenticated()"
                        th:if="${answer.author != null and #authentication.getPrincipal().getUsername() == answer.author.username}"
                        th:text="삭제"></a>
                </div> -->
            </div>
            <script>
                function toggleIcon(event) {
                    event.preventDefault(); // 링크의 기본 동작을 방지
                    const icon = event.currentTarget.querySelector('i');
                    console.log(icon);
                    const isLiked = icon.classList.contains('fa-solid');
                    console.log(isLiked);
                    const div = document.querySelector('.hidden');
                    // div 요소에서 th:data-wod-id 속성 값 가져오기
                    const wodId = div.getAttribute('th:data-wod-id');
                    console.log(wodId);

                    fetch('/wod/like', {
                        method: isLiked ? 'DELETE' : 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                            'X-CSRF-TOKEN': document.querySelector('input[name="_csrf"]').value // CSRF 토큰 필요시
                        },
                        body: JSON.stringify({ wodId: wod.id }) // `wodId`는 현재 wod의 id로 설정
                    })
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('Network response was not ok');
                            }
                            return response.json();
                        })
                        .then(data => {
                            if (data.success) {
                                if (isLiked) {
                                    icon.classList.remove('fa-solid', 'fa-heart');
                                    icon.classList.add('fa-regular', 'fa-heart');
                                } else {
                                    icon.classList.remove('fa-regular', 'fa-heart');
                                    icon.classList.add('fa-solid', 'fa-heart');
                                }
                                // 업데이트된 likeList 크기를 표시합니다.
                                event.currentTarget.querySelector('.badge').innerText = data.likeListSize;
                            }
                        })
                        .catch(error => {
                            console.error('Error:', error);
                        });
                }

                // 삭제 확인 모달
                const delete_elements = document.getElementsByClassName("delete");
                Array.from(delete_elements).forEach(function (element) {
                    element.addEventListener('click', function () {
                        if (confirm("정말로 삭제하시겠습니까?")) {
                            location.href = this.dataset.uri;
                        };
                    });
                });

                // 비로그인 상태 시, 댓글 창 비활성화
                document.addEventListener('DOMContentLoaded', function () {
                    const textareas = document.querySelectorAll('textarea:disabled');
                    textareas.forEach(textarea => {
                        textarea.style.backgroundColor = '#d3d3d3';
                        textarea.style.color = '#7a7a7a';
                    });
                });
            </script>
        </div>
    </div>
</div>

</html>