<html layout:decorate="~{layout}">
<div layout:fragment="content" class="w-full my-3 overflow-y-auto">
    <div class="h-screen flex items-center justify-center bg-black">
        <div class="w-full max-w-md p-8 bg-white rounded-lg shadow-lg">
            <form th:object="${commentForm}" method="post">
                <!-- CSRF 토큰 입력 -->
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                
                <!-- 글 작성 입력 -->
                <div class="mb-3 w-full">
                    <input type="text" class="input w-full input-bordered text-black" th:field="*{content}" placeholder="글 작성">
                </div>
                
                <!-- 수정 완료 버튼 -->
                <button type="submit" class="btn btn-primary">수정</button>
            </form>
        </div>
    </div>
</div>
</html>