<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>업체 위치</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.11.1/dist/full.min.css" rel="stylesheet" type="text/css"/>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="min-h-screen bg-black text-white">
<nav th:replace="~{navbar :: navbarFragment}"></nav>
<!-- 이미지 지도를 표시할 div 입니다 -->
<div class="flex flex-col items-center justify-center h-screen">
    <div id="staticMap" style="width:600px;height:350px;"></div>
    <a href="https://map.kakao.com/?q=%EB%8C%80%EC%A0%84+%EC%BD%94%EB%A6%AC%EC%95%84%EC%95%84%EC%9D%B4%ED%8B%B0" target="_blank" class="mt-4 text-white">업체 위치</a>
</div>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=e71195e7a1854be49ca6900abef2dd50&libraries=services"></script>
<script>
    // 이미지 지도에 표시할 마커입니다
    var marker = {
        position: new kakao.maps.LatLng(33.450701, 126.570667),
        text: '미라클 빌딩 3층에 위치하고 있습니다! 주차장은 지하 2층까지 사용가능합니다.' // text 옵션을 설정하면 마커 위에 텍스트를 함께 표시할 수 있습니다
    };

    var staticMapContainer  = document.getElementById('staticMap'), // 이미지 지도를 표시할 div
        staticMapOption = {
            center: new kakao.maps.LatLng(33.450701, 126.570667), // 이미지 지도의 중심좌표
            level: 3, // 이미지 지도의 확대 레벨
            marker: marker // 이미지 지도에 표시할 마커
        };

    // 이미지 지도를 생성합니다
    var staticMap = new kakao.maps.StaticMap(staticMapContainer, staticMapOption);
</script>
</body>
</html>