<!DOCTYPE html>
<html xmlns:th="">
<head>
    <meta charset="utf-8">
    <title>업체 위치</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.11.1/dist/full.min.css" rel="stylesheet" type="text/css"/>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="min-h-screen bg-black text-white">
<nav th:replace="~{navbar :: navbarFragment}"></nav>
<!-- 이미지 지도를 표시할 div 입니다 -->
<div class="flex flex-col items-center justify-center h-screen">
    <div id="map" style="width:600px;height:350px;"></div>
    <a href="https://map.kakao.com/?q=%EB%8C%80%EC%A0%84+%EC%BD%94%EB%A6%AC%EC%95%84%EC%95%84%EC%9D%B4%ED%8B%B0"
       target="_blank" class="mt-4 text-white">업체 위치</a>
    <p>
        <button onclick="setCenter()">지도 중심좌표 이동시키기</button>
        <button onclick="setDraggable(false)">지도 드래그 이동 끄기</button>
        <button onclick="setDraggable(true)">지도 드래그 이동 켜기</button>
    </p>
</div>
<script type="text/javascript"
        src="//dapi.kakao.com/v2/maps/sdk.js?appkey=e71195e7a1854be49ca6900abef2dd50&libraries=services">
</script>
<script>
    var mapContainer = document.getElementById('map'), // 지도를 표시할 div
        mapOption = {
            center: new kakao.maps.LatLng(36.3510064, 127.3797339), // 지도의 중심좌표
            level: 3 // 지도의 확대 레벨
        };

    var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

    // 마커가 표시될 위치입니다
    var markerPosition  = new kakao.maps.LatLng(36.3510064, 127.3797339);

    // 마커를 생성합니다
    var marker = new kakao.maps.Marker({
        position: markerPosition
    });

    // 마커가 지도 위에 표시되도록 설정합니다
    marker.setMap(map);

    // 아래 코드는 지도 위의 마커를 제거하는 코드입니다
    // marker.setMap(null);

    // 버튼 클릭에 따라 지도 이동 기능을 막거나 풀고 싶은 경우에는 map.setDraggable 함수를 사용합니다
    function setDraggable(draggable) {
        // 마우스 드래그로 지도 이동 가능여부를 설정합니다
        map.setDraggable(draggable);
    }

    function setCenter() {
        // 이동할 위도 경도 위치를 생성합니다
        var moveLatLon = new kakao.maps.LatLng(36.3510064, 127.3797339);

        // 지도 중심을 이동 시킵니다
        map.setCenter(moveLatLon);
    }
</script>

</body>
</html>