<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container-fluid my-3">
    <div>
        <a href="/pt/add">회원권만들기</a>
        <br>
        <a href="/notice/create">공지작성</a>
        <br>
        <a href="/user/adminSignup">관리자회원가입</a>
        <br>
        <a href="/challenge/create">챌린지 생성</a>
        <br>
        <a href="/user/signup">회원만들기</a>
        <br>
        <a href="/homeTraining/home">홈트레이닝</a>

        <!--        &lt;!&ndash; 관리자 권한이 있는 경우 &ndash;&gt;-->
        <!--        <div th:if="${#authorization.expression('hasRole('ADMIN')')}">-->
        <!--            관리자회원가입</h2>-->
        <!--            <ul>-->
        <!--                <a href="/user/adminSignup">관리자회원가입</a>-->
        <!--            </ul>-->
        <!--        </div>-->

        <br>
        <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/user/login}">로그인</a>
        <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/user/logout}">로그아웃</a>
        <br>
        <a href="attendance/calendar">출석체크</a>
        <br>
        <a  sec:authorize="isAuthenticated()" href="user/changePassword">비밀번호 변경</a>


    </div>
    <script th:inline="javascript">

        function getLoggedInUser() {

        const aa = /*[[${#authentication}]]*/ null;

        if(aa.name === "anonymousUser") {
            return null;
        }
        console.log(aa.name);
        return aa.name;

        }

         document.addEventListener('DOMContentLoaded', function() {
     // 페이지 로드 시 로그인 여부를 확인하고 웹소켓에 연결
       var name =  getLoggedInUser();
       console.log(name);
     });

    </script>
</div>
</html>