<nav th:fragment="navbarFragment" class="bg-black text-white border-b border-gray-800">
    <div class="container mx-auto flex flex-wrap items-center justify-between">
        <a href="/" class="text-white text-xl">
            <img src="https://i.imgur.com/Af3T5qw.png" alt="로고" class="h-8 w-auto inline">
            <!--            <img src="https://i.imgur.com/XtzS14O.png" alt="로고" class="h-8 w-auto inline">-->
        </a>
        <div>
            <a class="dropbtn bg-black text-white text-lg" th:href="@{/notice/list}">공지사항</a>
        </div>
        <div class="dropdown">
            <button class="dropbtn bg-black text-white text-lg">소개</button>
            <div
                class="mt-3 z-[1] p-2 shadow menu menu-sm dropdown-content bg-base-100 rounded-box w-52 bg-black text-white">
                <a class="nav-link inline-block py-2 px-4 text-white no-underline border-b border-gray-500"
                    th:href="@{/trainer/list}">트레이너 프로필</a>
                <a class="nav-link inline-block py-2 px-4 text-white no-underline" th:href="@{/map}">관련 업체 지도</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="dropbtn bg-black text-white text-lg">Store</button>
            <div
                class="mt-3 z-[1] p-2 shadow menu menu-sm dropdown-content bg-base-100 rounded-box w-52 bg-black text-white">
                <a class="nav-link inline-block py-2 px-4 text-white no-underline border-b border-gray-500"
                    th:href="@{/totalPass/list}">이용권 구매</a>
                <a class="nav-link inline-block py-2 px-4 text-white no-underline" th:href="@{/coupon/list}">쿠폰 구매</a>
            </div>
        </div>
        <div>
            <a class="dropbtn bg-black text-white text-lg" th:href="@{/challenge/challenges}">챌린지</a>
        </div>
        <div class="dropdown">
            <button class="dropbtn bg-black text-white text-lg">게시판</button>
            <div
                class="mt-3 z-[1] p-2 shadow menu menu-sm dropdown-content bg-base-100 rounded-box w-52 bg-black text-white">
                <a class="nav-link inline-block py-2 px-4 text-white no-underline border-b border-gray-500"
                    th:href="@{/wod/form}">오운완</a>
                <a class="nav-link inline-block py-2 px-4 text-white no-underline border-b border-gray-500"
                    href="/homeTraining/home">홈트레이닝</a>
                <a class="nav-link inline-block py-2 px-4 text-white no-underline" href="/groupChallenge/list">그룹</a>
            </div>
        </div>
        <div class="flex-none gap-2">
            <div class="dropdown dropdown-end">
                <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
                    <div class="w-10 rounded-full">
                        <img alt="Tailwind CSS Navbar component" src="/1715046707.gif" loop=infinite />
                    </div>
                </div>
                <ul tabindex="0"
                    class="mt-3 z-[1] p-2 shadow menu menu-sm dropdown-content bg-base-100 rounded-box w-52 text-black">
                    <li class="nav-item">
                        <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/user/profile}">프로필</a>
                    </li>
                    <li sec:authorize="isAuthenticated()">
                        <a th:href="@{/user/logout}">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <script th:inline="javascript">

        // 쿠키에서 로그인 정보 가져오기
        function getLoggedInUser() {

            const aa = /*[[${#authentication}]]*/ null;

            if (aa.name === "anonymousUser") {
                return null;
            }

            return aa.name;

        }

        // 현재 로그인된 사용자 확인 및 웹소켓 연결
        function connectIfLoggedIn() {
            var loggedInUser = getLoggedInUser();
            if (loggedInUser != null) {
                console.log('로그인된 아이디는' + loggedInUser);

                connectWebSocket(loggedInUser);
            } else {
                console.log('로그인되지 않은 상태입니다.');
            }
        }

        // 웹소켓 연결
        function connectWebSocket(loggedInUser) {
            var socket = new SockJS("http://localhost:8088/ws-stomp");
            var stompClient = Stomp.over(socket);
            stompClient.connect({}, function (frame) {
                console.log('웹소켓 연결 성공:', frame);
                var user = getLoggedInUser();
                // 연결 후 추가 작업 수행
                stompClient.subscribe('/sub/alarm/' + user, function (alarmDto) {
                    showAlarm(JSON.parse(alarmDto.body));
                });

                stompClient.subscribe('/sub/groupAlarm/' + user, function (alarmDto) {
                    showAlarm(JSON.parse(alarmDto.body));
                });

            }, function (error) {
                console.error('웹소켓 연결 실패:', error);
            });
        }


        function showAlarm(alarmDto) {
            const gotalk = document.querySelectorAll('.gotalk')
            gotalk.forEach((talk) => {
                const sender = alarmDto.sender;
                const url = talk.querySelector(".talk-url").innerText;
                if (url === sender) {
                    const sendTime = new Date(alarmDto.sendTime);
                    const formattedTime = formatTime(sendTime);
                    console.log(formattedTime);

                    const talkTime = talk.querySelector(".talk-time");
                    talkTime.innerText = formattedTime;

                    const alarm = talk.querySelector('.alarm');
                    const alarmMessage = alarm.querySelector(".alarmMessage");
                    alarmMessage.innerText = alarmDto.message;

                    let alarmCnt = alarm.querySelector(".alarmCnt");
                    if (alarmCnt === null) {
                        alarmCnt = document.createElement('p');
                        alarmCnt.classList.add('alarmCnt', 'notification-badge');
                        alarmCnt.innerText = alarmDto.alarmCnt;
                        alarm.appendChild(alarmCnt);
                    } else {
                        alarmCnt.innerText = alarmDto.alarmCnt;
                    }
                }

            });
            $("#toast").append(
                toastr.info(alarmDto.sender + '님의 메세지 : ' + alarmDto.message)
            );
        }

        // 페이지 로드 후 실행되는 부분
        document.addEventListener('DOMContentLoaded', function () {
            // 페이지 로드 시 로그인 여부를 확인하고 웹소켓에 연결
            connectIfLoggedIn();
        });


        function formatTime(date) {
            const hours = date.getHours();
            const minutes = date.getMinutes();
            const period = hours >= 12 ? '오후' : '오전';

            // 시간을 12시간 형식으로 변환
            const formattedHours = hours % 12 === 0 ? 12 : hours % 12;
            const formattedMinutes = minutes < 10 ? '0' + minutes : minutes;

            return `${period} ${formattedHours}:${formattedMinutes}`;
        }



    </script>
</nav>