<html layout:decorate="~{layout1}">
<div layout:fragment="content" class="container my-3">
    <div class="container mx-auto my-4">
        <aside>
            <!-- 프래그먼트 포함 -->
            <div th:replace="~{sidebar.html :: sidebarFragment}"></div>
        </aside>
        <div class="flex justify-between mb-4">
            <!--            <p>Content Size: <span th:text="${contentSize}"></span></p>-->
            <a th:href="@{|/question/create/${category}|}" class="btn btn-primary">질문 등록하기</a>
            <div class="flex items-center">
                <input type="text" id="search_kw" class="form-input" th:value="${kw}" placeholder="검색 키워드">
                <button class="btn btn-outline-secondary ml-2" type="button" id="btn_search">찾기</button>
            </div>
        </div>

        <div class="overflow-x-auto">
            <table class="min-w-full bg-white">
                <thead>
                <tr class="border-b">
                    <th class="px-4 py-2 text-left">번호</th>
                    <th class="px-4 py-2 text-left">제목</th>
                    <th class="px-4 py-2 text-left">글쓴이</th>
                    <th class="px-4 py-2 text-left">조회수</th>
                    <th class="px-4 py-2 text-left">작성일시</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="question, loop : ${paging}" class="border-b">
                    <td class="px-4 py-2"
                        th:text="${paging.getTotalElements - (paging.number * paging.size) - loop.index}"></td>
                    <td class="px-4 py-2">
                        <a th:href="@{|/question/detail/${question.id}|}" th:text="${question.subject}"></a>
                        <span class="text-red-500 ml-2" th:if="${#lists.size(question.answerList) > 0}"
                              th:text="${#lists.size(question.answerList)}"></span>
                    </td>
                    <td class="px-4 py-2" th:text="${question.author != null ? question.author.username : ''}"></td>
                    <td class="px-4 py-2" th:text="${question.view}"></td>
                    <td class="px-4 py-2" th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd HH:mm')}">
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- 페이징 -->
        <nav class="pagination flex justify-center items-center" aria-label="Pagination" style="position: fixed;
             bottom: 100px;
             left: 0;
             right: 300px;
             background-color: white;
             box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1);
             z-index: 1000;">
            <!-- 이전 버튼 -->
            <a class="page-link" th:if="${paging.number -1 != -1}" th:href="@{|?page=${paging.number-1}|}">
                <svg class="w-8 h-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                    <path
                            d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z" />
                </svg>
            </a>
            <!-- 페이지 번호 -->
            <ul class="flex -space-x-px">
                <li th:each="page : ${#numbers.sequence(0, paging.totalPages - 1)}"
                    th:if="${page >= paging.number - 5 and page <= paging.number + 5}"
                    th:classappend="${page == paging.number ? 'bg-indigo-600 text-white' : 'text-gray-90 ring-1 ring-inset ring-gray-30'}"
                    class="relative inline-flex items-center px-4 py-2 text-sm font-semibold hover:bg-gray-500 focus:outline-offset-0">
                    <a class="page-link" href="javascript:void(0)" th:data-page="${page}">
                        <span th:text="${page + 1}"></span>
                    </a>
                </li>
            </ul>
            <!-- 다음 버튼 -->
            <a class="page-link" th:if="${paging.number < paging.totalPages - 1}"
               th:href="@{|?page=${paging.number + 1}|}">
                <svg class="w-8 h-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                    <path
                            d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" />
                </svg>
            </a>
        </nav>
    </div>
    <!-- 검색 폼 -->
    <form th:action="@{|/question/list/${category}|}" method="get" id="searchForm">
        <input type="hidden" id="kw" name="kw" th:value="${kw}">
        <input type="hidden" id="page" name="page" th:value="${paging.number}">
    </form>
    <!-- JavaScript 코드 -->
    <script>
        // 페이지 변경 처리
        const pageElements = document.getElementsByClassName("page-link");
        Array.from(pageElements).forEach(function (element) {
            element.addEventListener('click', function () {
                const page = this.dataset.page;

                if (!isNaN(page)) { // 숫자 여부 확인
                    document.getElementById('page').value = page;
                    document.getElementById('searchForm').submit(); // 페이지 변경 시 폼 제출
                }
            });
        });

        // 검색 버튼 클릭 처리
        const btnSearch = document.getElementById("btn_search");
        btnSearch.addEventListener('click', function () {
            const searchKeyword = document.getElementById("search_kw").value;

            document.getElementById("kw").value = searchKeyword; // 검색어 설정
            document.getElementById("page").value = 0; // 첫 페이지로 리셋
            document.getElementById("searchForm").submit(); // 검색 시 폼 제출
        });
    </script>
</div>
</div>

</html>