<div class="card-container">
    <div class="card bg-base-100 shadow-xl m-2 pt-2.5 text-black" th:each="pt:${ptPassList}">
        <figure><img src="https://i.imgur.com/kW3S5se.png" alt="PT" /></figure>
        <div class="card-body">
            <h2 class="card-title" th:text="${pt.passName}"></h2>
            <p th:text="${pt.passTitle}"></p>
            <p th:text="'횟수 : '+${pt.passCount}"></p>
            <p th:text="'가격 : '+${pt.passPrice}"></p>
            <div class="card-actions justify-end">
                <a th:href="@{|/checkout/${pt.passName}|}" class="btn btn-primary">Buy Now</a>
                <div th:if="${#authentication.principal.authorities.iterator().next().authority == 'ROLE_ADMIN'}">
                    <a th:href="@{|/pt/update/${pt.passId}|}" class="btn">수정</a>
                    <a th:href="@{|/pt/delete/${pt.passId}|}" class="btn">삭제</a>
                </div>
            </div>
        </div>

    </div>
</div>