<html layout:decorate="~{layout}">
<div layout:fragment="content" class="w-full my-3 flex justify-center text-black">
    <div class="h-screen flex items-center justify-center bg-black">
        <div class="w-[300px] max-w-md p-8 bg-white rounded-lg shadow-lg">
            <div class="text-black">
                <div th:if="${#authentication.principal.username == lesson.trainer.userId}">
                    <a href="javascript:void(0);" th:data-uri="@{|/lesson/delete/${lesson.id}|}"
                        class="delete btn btn-error btn-xs my-2" th:text="삭제"></a>
                    <a th:if="${#authentication.principal.username == lesson.trainer.userId}"
                        th:href="@{|/lesson/update/${lesson.id}|}" class="btn btn-primary btn-xs my-2">수정</a>
                </div>
            </div>
            <!-- 레슨명 -->
            <div class="mb-3 w-full">
                <label class="block text-gray-700">레슨명</label>
                <p class="w-full max-w-xl text-black font-bold" th:text="${lesson.lessonName}"></p>
            </div>

            <!-- 트레이너 -->
            <div class="mb-3 w-full">
                <label class="block text-gray-700">강사</label>
                <p class="w-full max-w-xl text-black font-bold" th:text="${lesson.trainer.name}">
                </p>
            </div>

            <!-- 참여인원 -->
            <div class="mb-3 w-full">
                <label class="block text-gray-700">참여 인원</label>
                <p class="w-full max-w-xl text-black font-bold" th:text="${lesson.headCount} + 명">
                </p>
            </div>

            <!-- 레슨 날짜 -->
            <div class="mb-3 w-full">
                <label class="block text-gray-700">레슨 날짜</label>
                <p class="w-full max-w-xl text-black font-bold" th:text="${lesson.lessonDate}"></p>
            </div>

            <!-- 레슨 시작 시간 -->
            <div class="mb-3 w-full">
                <label class="block text-gray-700">시작 시간</label>
                <p class="w-full max-w-xl text-black font-bold" th:text="${lesson.startTime}"></p>
            </div>

            <!-- 레슨 끝 시간 -->
            <div class="mb-3 w-full">
                <label class="block text-gray-700">끝 시간</label>
                <p class="w-full max-w-xl text-black font-bold" th:text="${lesson.endTime}"></p>
            </div>

            <!-- 예약 버튼 -->
            <div th:if="${#authentication.principal.username != lesson.trainer.userId}" class="w-[100px]">
                <div th:if="${isUserAttending && isLessonAttended}"> <!-- true : true -->
                    <a href="javascript:void(0);" th:data-uri="@{|/lesson/cancel/${lesson.id}|}"
                        class="btn bg-green-500 cancel text-white"
                        th:text="'예약완료 ' + ${lesson.attendanceList.size()} + '/' + ${lesson.headCount}">
                    </a>
                </div>
                <div th:if="${isUserAttending && !isLessonAttended}"> <!-- true : false -->
                    <a href="javascript:void(0);" th:data-uri="@{|/lesson/cancel/${lesson.id}|}"
                        class="btn bg-gray-500 waitcancel text-white"
                        th:text="'대기완료 ' + ${lesson.attendanceList.size()} + '/' + ${lesson.headCount}">
                    </a>
                </div>
                <div th:if="${!isUserAttending && isLessonAttended}"> <!-- false : true -->
                    <a href="javascript:void(0);" th:data-uri="@{|/lesson/reservation/${lesson.id}|}"
                        class="btn bg-blue-500 reservation text-white"
                        th:text="'예약하기 ' + ${lesson.attendanceList.size()} + '/' + ${lesson.headCount}">
                    </a>
                </div>
                <div th:if="${!isUserAttending && !isLessonAttended}"> <!-- false : false -->
                    <a href="javascript:void(0);" th:data-uri="@{|/lesson/reservation/${lesson.id}|}"
                        class="btn btn-error wait text-white"
                        th:text="'대기하기 ' + ${lesson.attendanceList.size()} + '/' + ${lesson.headCount}">
                    </a>
                </div>
            </div>

            <div th:if="${#authentication.principal.username == lesson.trainer.userId}">
                <div class="mb-3 w-full">
                    <label class="block text-gray-700">예약자</label>
                    <div th:each="reservation : ${reservationList}">
                        <p class="w-full max-w-xl text-black font-bold" th:text="${reservation.name}"></p>
                    </div>
                </div>
                <div class="mb-3 w-full">
                    <label class="block text-gray-700">대기자</label>
                    <div th:each="wait : ${waitingList}">
                        <p class="w-full max-w-xl text-black font-bold" th:text="${wait.name}"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        const delete_elements = document.getElementsByClassName("delete");
        Array.from(delete_elements).forEach(function (element) {
            element.addEventListener('click', function () {
                if (confirm("정말로 삭제하시겠습니까?")) {
                    location.href = this.dataset.uri;
                };
            });
        });

        const reservation_elements = document.getElementsByClassName("reservation");
        Array.from(reservation_elements).forEach(function (element) {
            element.addEventListener('click', function () {
                if (confirm("예약하시겠습니까?")) {
                    location.href = this.dataset.uri;
                };
            });
        });

        const wait_elements = document.getElementsByClassName("wait");
        Array.from(wait_elements).forEach(function (element) {
            element.addEventListener('click', function () {
                if (confirm("대기하시겠습니까?")) {
                    location.href = this.dataset.uri;
                };
            });
        });

        const cancel_elements = document.getElementsByClassName("cancel");
        Array.from(cancel_elements).forEach(function (element) {
            element.addEventListener('click', function () {
                if (confirm("예약을 취소하시겠습니까?")) {
                    location.href = this.dataset.uri;
                };
            });
        });

        const waitCancel_elements = document.getElementsByClassName("waitcancel");
        Array.from(waitCancel_elements).forEach(function (element) {
            element.addEventListener('click', function () {
                if (confirm("대기를 취소하시겠습니까? 취소하시면 순위가 밀려납니다.")) {
                    location.href = this.dataset.uri;
                };
            });
        });
    </script>
</div>

</html>